[submodule "engines/dohnuts.cpp"]
	path = engines/dohnuts.cpp
	url = https://github.com/fontlaborg/dohnuts.cpp
	branch = issue102-models
[submodule "engines/pcdServer"]
	path = engines/pcdServer
	url = https://github.com/fontlaborg/pcdServer
	branch = issue102-jinja-fallback
